/* reset */


*{margin: 0;padding: 0;border: 0;box-sizing: border-box;}
html{font-size: 62.5%; scroll-behavior: smooth;}/* -webkit-user-select:none; 모바일 드래그 막기 */
body{min-width: 320px;max-width: 100%;color: #000; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem;    letter-spacing: -0.025em; box-sizing: border-box; overflow: hidden;}
ol,ul,li{list-style: none;}
table,th,td{border-collapse: collapse;/*border-spacing: 0;*/}
input{font-family: 'Noto Sans CJK', sans-serif;}
/* input[type=text]::-ms-clear,
input[type=tel]::-ms-clear{display: none;} */
/*
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand{display: none;} IE 10, 11의 네이티브 화살표 숨기기 */
div {outline: none;}
label{cursor: pointer;}
label img{pointer-events: none;}
a{text-decoration: none;color: #000;}
img{display: block;border: 0;max-width: 100%; width: 100%;}
.icon { width: auto; max-width: 100%; } 




@media all and (max-width:900px) {
    html {font-size: 52.5%;}
}
@media all and (max-width:768px) {
    html {font-size: 50.5%;}
}
